.back-button {
  display: flex;
  align-items: center;

  background: #ec4a22;
  border: none;
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  cursor: pointer;
  padding-left: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
  transition: color 0.3s ease;
}

.back-button:hover {
  color: #810404;
}

.arrow-icon {
  margin-right: 8px;
  font-size: 20px;
}