.nosrespalda-section {
  background-color: #ffffff;
 display: flex;
  flex-direction: column;
  padding: 0 16px;
  gap: 2rem;
}

.nosrespalda-video-wrapper {
  width: 100%;
  
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
  
}

.nosrespalda-video {
width: 100%;
  height: auto;
  object-fit: cover;
}

.nosrespalda-texto {
    max-width: 100%;
  color: #333;
  padding: 1rem;
  background-color: #f9f9f9;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.nosrespalda-texto h2 {
    margin-bottom: 1rem;
  font-size: 2rem;
  color: #ec4a22 !important;
      text-shadow: 0 2px 4px rgba(0, 0, 0, 60%);

}

.nosrespalda-texto p {
  font-size: 1.125rem;
  line-height: 1.8;
  color: #444;
  margin-bottom: 1rem;
}
@media (min-width: 1024px) {
  .nosrespalda-section {
 flex-direction: row;
    justify-content: center;
    margin: auto;
}

.nosrespalda-video {
height: 100%;
    max-height: 500px;
}
.nosrespalda-texto {
  padding: 2rem;
 }
 }