/* === Productos.css === */

.productos-container {
  font-family: 'Montserrat', sans-serif;
  color: #222;
}

/* Hero */
.productos-hero {
  position: relative;
  background-image: url('../assets/img/productos-bg.webp');
  background-size: cover;
  background-position: center;
  height: 75vh;
  margin-bottom: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.productos-hero-overlay {
  background: rgb(212 195 117 / 60%);
  text-align: center;
  padding: 16px 16px;
  color: #fff;
}

.productos-hero-overlay h1 {
  font-size: 3rem;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
}

.productos-hero-overlay p {
  font-size: 1.2rem;
}

/* Categorías */
.productos-categorias {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  background: #f8f8f8;
  padding: 10px;
}

.producto-card {
  background: #fff;
  overflow: hidden;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.producto-card:hover {
  transform: translateY(-5px);
}

.producto-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.producto-info {
  padding: 1.5rem;
}

.producto-info h2 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  color: #e67e22;
}

.producto-info p {
  font-size: 1rem;
  color: #444;
}

/* CTA */
.productos-cta {
  padding: 3rem 2rem;
  text-align: center;
  background: #222;
  color: #fff;
}

.productos-cta p {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.cta-btn {
  background: #e67e22;
  color: #fff;
  padding: 0.8rem 1.5rem;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: background 0.3s ease;
}

.cta-btn:hover {
  background: #cf711f;
}

.btn-descargar {
  display: inline-block;
  margin-top: 0.8rem;
  padding: 0.5rem 1rem;
  background-color: #f37021;
  color: #fff;
  border: none;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 500;
  transition: background-color 0.3s ease;
  font-size: 0.95rem;
}

.btn-descargar:hover {
  background-color: #d95e17;
}

@media (max-width: 600px) {
  .btn-descargar {
    width: 100%;
    text-align: center;
  }
}



@media (max-width:480px){
.productos-hero-overlay h1 {
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
}
.productos-hero-overlay p{
  font-size: .9rem;
}


}
@media (min-width:1440px){
  .producto-img{
    height: 420px;
  }
  .productos-categorias {
    grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
  }
}