@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-8px);
  }
}

.whatsapp-button-fixed {
  position: fixed;
  bottom: 20px; /* Distancia desde abajo */
  right: 20px; /* Distancia desde la derecha */
  background-color: #25d366;
  color: white;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease-in-out;
  z-index: 2147483647;
  text-decoration: none;
  animation: bounce 2.5s infinite ease-in-out;
  margin-right: 10px; /* Añadí un margen de 10px desde el borde derecho */
  margin-bottom: 10px; /* Añadí un margen de 10px desde el borde inferior */
}

.whatsapp-button-fixed:hover {
  transform: translateX(0);;
}

.whatsapp-icon {
  font-size: 32px;
}
